#centerQhull {
    top: 15%;
    left: 42%;
    width: 60em;
    height: 65em;
    margin-top: 0em;
    margin-left: -35em;
    border: 1px black;
    background-color:#fff79e;
    position: absolute;
    z-index: 5;
    opacity: 0.8;
}
#leftQhull {
    display: inline-block;
    width: 58%;
    height: 90%;
    z-index: 5;
}

#rightQhull {
    display: inline-block;
    width: 35%;
    height: 90%;
    z-index: 5;
}