#centerRBK {
    top: 50%;
    left: 55%;
    width: 62em;
    height: 62em;
    margin-top: -12em;
    margin-left: -35em;
    border: 1px black;
    background-color: #fff79e;
    position: absolute;
    z-index: 5;
    opacity: 0.8;
}
#leftRBK{
    display: inline-block;
    width: 50%;
    height: 100%;
    z-index: 5;
}

#rightRBK{
    display: inline-block;
    width: 40%;
    height: 100%;
    z-index: 5;
}