#centerDijkstra{
    top: 50%;
    left: 45%;
    width: 70em;
    height: 65em;
    margin-top: -12em;
    margin-left: -30em;
    border: 1px black;
    background-color:#fff79e;
    position: absolute;
    z-index: 5;
    opacity: 0.8;
}
#leftDijkstra {
    display: inline-block;
    width: 58%;
    height: 100%;
    z-index: 5;
}

#rightDijkstra{
    display: inline-block;
    width: 35%;
    height: 100%;
    z-index: 5;
}