#centerLCS {
    top: 50%;
    left: 45%;
    width: 70em;
    height: 71em;
    margin-top: -12em;
    margin-left: -30em;
    border: 1px black;
    background-color:#fff79e;
    position: absolute;
    z-index: 5;
    opacity: 0.8;
}
#leftLCS{
    display: inline-block;
    width: 50%;
    height: 100%;
    z-index: 5;
}

#rightLCS{
    display: inline-block;
    width: 40%;
    height: 100%;
    z-index: 5;
}