#centerRDP {
    top: 18%;
    left: 37%;
    width: 80em;
    height: 65em;
    margin-top: 0em;
    margin-left: -35em;
    border: 1px black;
    background-color:#fff79e;
    position: absolute;
    z-index: 5;
    opacity: 0.8;
}
#leftRDP {
    display: inline-block;
    width: 58%;
    height: 90%;
    z-index: 5;
}

#rightRDP {
    display: inline-block;
    width: 35%;
    height: 90%;
    z-index: 5;
}